html{
    
    font-size: 20px;
  
  }

  header{
    display: none;
  }
  
  .hidden{
    display: none;
  }
  nav a{
    background-color: #1DB954;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    border-radius: 50px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    width: 10%;
    text-align: center;
  
  }
  nav a:hover{
    color: black;
    background-color: white;
  }
  a{
    color:#1DB954;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #8FBC8F;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
  }
  
  body{
    margin: 0;
    background-color: black;
    color:white;
    font-family: Montserrat, Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
  }
  
  main{
    min-height: 100vh;
    flex-grow: 1;
  }

  #releases{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blocco {
 
    margin-bottom: 20px;
    border: 1px solid white;
    margin: 6px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 4px;
    margin-bottom: 10px;
    text-align: center;
    width: calc(10% - 14px);
    transition: transform 0.2s ease; 

  }

  .blocco:hover {
    transform: rotateY(20deg);
  }

  .blocco span, .blocco p{
    font-family: Helvetica, sans-serif;
    
  }
  
  .blocco p{
    font-weight:bold;
  }
 
  
  .blocco img{
    max-width: 100%;
    height: 100px;
    border-radius: 6%;
    padding: 4px;
    max-height: 100%;
  
  }
  
  .blocco div{
    margin-top: 10px;
    flex: 1; 
  }
  
  
  h3{
    margin-left: 10px;
  }

.post{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
  border: 2px solid white;
  padding: 20px;
  background-image: url("images/back2.png");
}
.content audio{
  width: 90%;
  padding: 20px;
}

.profile{
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.green-text{
  color: #1DB954;
  
}
.profile .imgprofilo{
  width: 6%;
  border-radius: 50%;
  margin-right: 10px;
}

.content div{
  margin: 10px;
}


.datas{
  position: absolute;
  right: 30px;
}

.remove-button{
  position: absolute;
  right: -15px;
  top: 20px;
  width: 3%;
  cursor: pointer;
}

footer {
    background-color: black;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    color: white;
  }
  
  .footer-content {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    border: 2px solid white;
  }
  
  .footer-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-content p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  audio{
    max-width: 100%;
  }



  @media (max-width: 500px) {
    .blocco {
      width: 30%;
    }

    #releases{
      justify-content: space-around;
    }

    .hidden{
      display: none;
    }

    nav {
      display: none;
    }
   

    .remove-button{
      top: 0px;
      width: 6%;
      right: -7px;
    }

 

    header{
      display: flex;
      align-items: center;
    }

    #menu{
      width: 8%;
      margin-left: 10px;
      transition: width 0.3s ease;
      height: 8%;
    }

    .titolo{
      margin-left: 14%;
      margin-top: 3%;
  
    }

    .titolo img{
      width: 10%;
      border-radius: 50%;
      margin-right: 10px;
    }
    .titolo h1{
      display: inline;
    }

    .extended{
      display: inline;
      padding: 8px;
    }

    div a{
      display: block;
      background-color: #1DB954;
      font-weight: bold;
      font-size: 1.5rem;
      color: white;
      border-radius: 50px;
      padding: 5px 10px;
      text-decoration: none;
      font-size: 1.2rem;
      
      text-align: center;

    }

    .contenutosidebar div{
      display: flex;
      justify-content: space-between;
    }
  
  }